.DS_Store
*.app
DerivedData
project_code/*/*/*/*/bin/data/openni
project_code/*/*/bin/data/openni
project_code/*/*/*/*/*/bin/data/openni
project_code/*/*/*/bin/data/openni
*.mov

xcuserdata
*.xcuserdatad
*.pbxuser
*.mode1v3

project_code/APIs/*/auth
project_code/APIs/*/node_modules